.review{
   padding: 95px 0 50px;
   background-color: #000000;
   &__row{
      display:flex;
      justify-content: space-between;
   }
   &__col{
      text-align: center;
   }
   &__description{
      @include text($roboto, normal, normal, 18px, 32px, #FFFFFF);
      margin-bottom: 17px;
   }
   &__title{
      @include text($roboto, normal, normal, 14px, 21px, #FFFFFF);
      margin-bottom: 10px;
      text-transform: uppercase;
   }
   &__subtitle{
      @include text($roboto, normal, normal, 16px, 24px, #8A8A8A);
      text-transform: capitalize;
   }
}

@media (max-width: 1200px){
   .review {
      padding: 67px 0 50px;
   }
}

@media (max-width: 992px) {
   .review {
      &__description{
         font-size: 16px;
         line-height: 30px;
      }
      &__title{
         font-size: 12px;
         line-height: 28px;
      }
      &__subtitle{
         font-size: 14px;
         line-height: 22px;
      }
   }
}

@media (max-width: 768px){
   .review {
      &__description{
         font-size: 14px;
         line-height: 26px;
      }
      &__title{
         font-size: 12px;
         line-height: 28px;
      }
      &__subtitle{
         font-size: 14px;
         line-height: 22px;
      }
   }
}

@media (max-width: 425px){
   .review {
      padding: 43px 0 32px;
      &__description{
         font-size: 12px;
         line-height: 24px;
      }
      &__title{
         font-size: 11px;
         line-height: 26px;
      }
      &__subtitle{
         font-size: 12px;
         line-height: 20px;
      }
   }
}
@media (max-width: 375px){
   .review {
      padding: 34px 0 12px;
      &__row{
         flex-direction: column;
      }
      &__col{
         margin-bottom: 24px;
      }
      &__description{
         font-size: 12px;
         line-height: 22px;
         margin-bottom: 10px;
      }
      &__title{
         font-size: 11px;
         line-height: 26px;
         margin-bottom: 0;
      }
      &__subtitle{
         font-size: 12px;
         line-height: 20px;
      }
   }
}